<div class="app-container">
  <div class="header">
    <app-toolbar
      [isDarkMode]="isDarkMode"
      (themeToggle)="toggleTheme()"
    ></app-toolbar>
  </div>
  <as-split>
    <as-split-area>
      <div class="left-pane">
        <div class="personal-info">
          <div>{{managerService.resume.firstName}} {{managerService.resume.lastName}}</div>
          <div>{{managerService.resume.email}}</div>
          <div>{{managerService.resume.phoneNumber}}</div>
        </div>
        <div class="label">Links</div>
        <ng-container *ngFor="let link of managerService.resume.links">
          <app-link [link]="link"></app-link>
        </ng-container>
          <div class="label">Sections</div>
          <app-section *ngFor="let section of managerService.resume.sections" [section]="section"></app-section>
      </div>
    </as-split-area>
    <as-split-area>
      <div class="right-pane">
        <!-- This has a lot of issues that need to be fixed -->
        <app-pdf-view></app-pdf-view>
      </div>
    </as-split-area>
  </as-split>
</div> 