<button class="job-button" (click)="toggleCheck()">
    <img *ngIf="job.isChecked" src="assets/images/svg/check-box.svg" alt="Checked" class="svg-icon" />
    <img *ngIf="!job.isChecked" src="assets/images/svg/uncheck-box.svg" alt="Unchecked" class="svg-icon" />
    <span class="job-title">{{job.title}}</span>
    <span class="job-details">{{job.employer}}</span>
</button>
<div *ngIf="job.isChecked" class="job-bullets">
    <app-bullet *ngFor="let bullet of job.bullets" [bullet]="bullet"></app-bullet>
</div>
  