<!-- section.component.html -->

<button class="section-button" (click)="toggleCheck()">
    <img *ngIf="section.isChecked" src="assets/images/svg/check-box.svg" alt="Checked" class="svg-icon" />
    <img *ngIf="!section.isChecked" src="assets/images/svg/uncheck-box.svg" alt="Unchecked" class="svg-icon" />
    {{ section.title }}
</button>
<div *ngIf="section.isChecked">
    <ng-container *ngIf="section.type === SectionType.job">
        <ng-container *ngFor="let entry of section.entries">
            <app-job *ngIf="Job.isJob(entry)" [job]="entry"></app-job>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="section.type === SectionType.project">
        <ng-container *ngFor="let entry of section.entries">
            <app-project *ngIf="Project.isProject(entry)" [project]="entry"></app-project>
        </ng-container>
    </ng-container>
</div>
